@import "colors.less";
@import "device_list.less";
@import "menu_selector.less";
@import "multi_chat.less";
@import "verify_webrtc.less";
@import "public/assets/icon_font/icons.less";

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

button {
    font-size: 14px;
}

.button-stop {

}
