.ps-device-list {
    width: 75%:
    margin: 25px auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}

.ps-device-list-header-text {
    font-size: 24px;
}

.ps-device-list-capabilities {
    list-style: none;
}

.ps-device-list-capabilities-item {

}

.ps-device-list-capabilities-item-label {
    font-size: 14px;
}

.ps-device-list-capabilities-item-value {
    font-weight: bold;
}

.ps-device-selection {
    width: 33%;
    margin: auto;
    border-top: 1px solid gray;
    padding: 25px;
}

.ps-device-selection-header {
    display: block;
    font-size: 28px;
    font-weight: lighter;
}

.ps-device-selection-item {
    margin: 15px auto;
    text-align: left;
}

.ps-device-selection-label {
    display: block;
    font-size: 14px;
    font-weight: bold;
}
