<div class="menu-selector-option-label">
{{#if titleCase}}
    {{title-case option.title}}
{{else}}
    {{option.title}}
{{/if}}
</div>
<div class="menu-selector-option-description">
    {{option.description}}
</div>