<div class="main">
    {{!-- NOTE: This should be in another controller/template... --}}
    {{!-- {{skype-clone/messages
        messages = messages}} --}}

    <div class="new-message" style="overflow: hidden;height: 250px;">
        <div class="user-info" style="height: 100%">
            <img src="images/user.png">
        </div>

        <div class="user-activity">
            <p class="message">
                Please Enter a <span style="color:red;">UNIQUE</span> room-name: <input type="text" id="room-name" placeholder="Private Room-ID" style="border: 1px solid rgb(253, 253, 253);box-shadow: inset 0 0 0 1px rgb(53, 52, 52);outline: 1px solid rgb(7, 7, 7);" title="Your private rooms unique-id. It is required!"><br />
                <small>You can enter email; or any string or numbers!</small> <br />
                <small style="color: rgb(1, 170, 143);font-style: italic;font-weight: bold;">You MUST <span style="color:red;">manually</span> share this <span style="color:red;">unique room-name</span> with target users so they can join you!</small> <br /><br />

                Please Enter Your Full Name: <input type="text" id="your-name" placeholder="(optional)" title="Optional but Recommended!"><button id="continue" title="Click to join the room!">continue</button>
            </p>
        </div>
    </div>
</div>
